/* $Id: notifications_comment.css,v 1.1.2.1 2010/03/25 11:54:46 jareyero Exp $ */
#edit-notifications-comment-notify-type-1-wrapper,
#edit-notifications-comment-notify-type-2-wrapper {
  float: left;  /* LTR */
  display: inline;
}

#edit-notifications-comment-notify-type-1-wrapper {
  margin-left: 2em;  /* LTR */
}

#comment-notifications-comment-notify .form-radios {
  overflow: hidden;
  height: 100%;
}

#edit-notifications-comment-notify-type-2-wrapper {
  margin-left: 1em;  /* LTR */
}
